.titleAccompanied {
    /* Use when the slide has a subtitle */
    position: absolute;
    left: 3.41vw;
    bottom: 64vh;
    height: auto;

    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 3.5vh;
    line-height: 4vh;
    color: white;
}

.subtitle {
    position: absolute;
    left: 3.41vw;
    bottom: 60vh;
    height: auto;

    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 3.5vh;
    line-height: 4vh;
    color: white;
}

.globe {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
}

/* SLIDE 1 */

.slide1 .textGlobe {
    position: absolute;
    left: 30.25vw;
    bottom: 52vh;
}

.slide1 .globe {
    width: 29.2vw;
}

.slide1 .textInGlobe {
    position: absolute;

    display: flex;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.4vw;
    line-height: 1.2em;
    color: black;

    width: 26vw;
    height: auto;

    top: 0.8em;
    padding-left: 2.7em;
}

.slide1 .qvBot {
    position: absolute;
    left: 0;
    bottom: -14vh;
    width: 38vw;
    height: auto;
}

.slide1 .qBot {
    position: absolute;
    right: 14vw;
    bottom: 43.11vh;
    width: 8.54vw;
    height: auto;
}

/* SLIDE 2 */

.slide2 .textGlobe {
    position: absolute;
    left: 30.25vw;
    bottom: 55vh;
}

.slide2 .globe {
    width: 28vw;
}

.slide2 .textInGlobe {
    position: absolute;

    display: flex;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.4vw;
    line-height: 1.3em;
    color: black;

    width: 26vw;
    height: auto;

    top: 1.1em;
    padding-left: 2.6em;
}

.slide2 .qvBot {
    position: absolute;
    left: 10vw;
    bottom: -16vh;
    width: 22vw;
    height: auto;
}

.slide2 .qBot {
    position: absolute;
    right: 14vw;
    bottom: 36vh;
    width: 8vw;
    height: auto;
}

/* SLIDE 3 */

.slide3 .textGlobe {
    position: absolute;
    left: 30.25vw;
    bottom: 47vh;
}

.slide3 .globe {
    width: 34.46vw;
}

.slide3 .textInGlobe {
    position: absolute;

    display: flex;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.4vw;
    line-height: 1.25em;
    color: black;

    width: 33.46vw;
    height: auto;

    top: 1.6em;
    padding-left: 2.6em;
}

.slide3 .qvBot {
    position: absolute;
    left: 10vw;
    bottom: -16vh;
    width: 22vw;
    height: auto;
}

.slide3 .qBot {
    position: absolute;
    right: 14vw;
    bottom: 36vh;
    width: 8vw;
    height: auto;
}

/* SLIDE 4 */

.slide4 .textGlobe {
    position: absolute;
    left: 3.41vw;
    bottom: 56vh;
}

.slide4 .globe {
    width: 26vw;
}

.slide4 .textInGlobe {
    position: absolute;

    display: flex;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.4vw;
    line-height: 1.3em;
    color: black;

    width: 24.2vw;
    height: auto;

    top: 1.2em;
    padding-left: 1.2em;
}

.slide4 .qvBot {
    position: absolute;
    left: 0vw;
    bottom: -12.5vh;
    width: 30.5vw;
    height: auto;
}

.slide4 .qBot {
    position: absolute;
    right: 14.4vw;
    top: 35.8vh;
    width: 8.1vw;
    height: auto;
}

.slide4 .proyector {
    position: absolute;
    right: 20vw;
    top: 39.4vh;
    width: 8.5vw;
    height: auto;
    opacity: 30%;
}

.slide4 .image {
    position: absolute;
    right: 28vw;
    top: 39.4vh;
    width: 33.5vw;
    height: auto;
}

/* SLIDE 5 */

.slide5 .textGlobe {
    position: absolute;
    right: 44.41vw;
    top: 30.8vh;
}

.slide5 .globe {
    width: 25vw;
}

.slide5 .textInGlobe {
    position: absolute;

    display: flex;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.4vw;
    line-height: 1.3em;
    color: black;

    width: 24.2vw;
    height: auto;

    top: 1.2em;
    padding-left: 1.2em;
}

.slide5 .qvBot {
    position: absolute;
    right: 5.6vw;
    top: 40.5vh;
    width: 22.78vw;
    height: auto;
}

.slide5 .qBot {
    position: absolute;
    left: 4.1vw;
    bottom: 3.5vh;
    width: 8vw;
    height: auto;
}

.slide5 .proyector {
    position: absolute;
    left: 8.7vw;
    bottom: 14.6vh;
    width: 37.5vw;
    height: auto;
    opacity: 70%;
}

.slide5 .image {
    position: absolute;
    left: 13vw;
    bottom: 18.4vh;
    width: 33.5vw;
    height: auto;
}

/* SLIDE 6 */

.slide6 .textGlobe {
    position: absolute;
    right: 49.25vw;
    top: 45.5vh;
}

.slide6 .globe {
    width: 28vw;
}

.slide6 .textInGlobe {
    position: absolute;

    display: flex;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.4vw;
    line-height: 1.3em;
    color: black;

    width: 26vw;
    height: auto;

    top: 1.1em;
    padding-left: 2.6em;
}

.slide6 .textGlobeB {
    position: absolute;
    left: 10.25vw;
    bottom: 36.3vh;
}

.slide6 .globeB {
    position: absolute;
    top: 0;
    left: 0;
    width: 27vw;
    height: auto;
}

.slide6 .textInGlobeB {
    position: absolute;

    display: flex;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.4vw;
    line-height: 1.3em;
    color: black;

    width: 24vw;
    height: auto;

    top: 1.1em;
    padding-left: 1.1em;
}

.slide6 .qvBot {
    position: absolute;
    left: 35vw;
    bottom: -8vh;
    width: 22.3vw;
    height: auto;
}

.slide6 .qBot {
    position: absolute;
    right: 6.5vw;
    bottom: 48.11vh;
    width: 9.54vw;
    height: auto;
}

/* SLIDE 7 */

.slide7 .textGlobe {
    position: absolute;
    right: 44.25vw;
    bottom: 48.3vh;
}

.slide7 .globe {
    width: 29vw;
}

.slide7 .textInGlobe {
    position: absolute;

    display: flex;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.4vw;
    line-height: 1.3em;
    color: black;

    width: 26vw;
    height: auto;

    top: 0.8em;
    padding-left: 2.4em;
}

.slide7 .textGlobeB {
    position: absolute;
    left: 10.25vw;
    top: 44.3vh;
}

.slide7 .globeB {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 27vw;
}

.slide7 .textInGlobeB {
    position: absolute;

    display: flex;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.4vw;
    line-height: 1.3em;
    color: black;

    width: 24vw;
    height: auto;

    top: 1.1em;
    padding-left: 1.1em;
}

.slide7 .qvBot {
    position: absolute;
    left: 31vw;
    bottom: -8vh;
    width: 28.3vw;
    height: auto;
}

.slide7 .qBot {
    position: absolute;
    left: 4.1vw;
    bottom: 3.5vh;
    width: 8vw;
    height: auto;
}

.slide8 .textGlobe {
    position: absolute;
    left: 40.25vw;
    bottom: 52vh;
}

.slide8 .globe {
    width: 32vw;
}

.slide8 .textInGlobe {
    position: absolute;

    display: flex;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.4vw;
    line-height: 1.3em;
    color: black;

    width: 31vw;
    height: auto;

    top: 1.1em;
    padding-left: 2.5em;
}

.slide8 .qvBot {
    position: absolute;
    left: 9.3vw;
    bottom: -1vh;
    width: 32vw;
    height: auto;
}